.card-img-top {
	height : 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card {
	background-color: rgb(247, 247, 247);
	border: none;
}

body, p, h5 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.img-circle {
    height: 300px;
}
